body {
    width: calc(100vw - 72px);
    height: 100vh;
    position: fixed;
    margin-left: 72px;
}

.flex-wrapper {
    display: flex;
    flex: 1 1 auto;
}

.main-wrapper {
    position: relative;
    width: 100%;
    background-color: oklab(0.321044 -0.000249296 -0.00927344);
}

.main-topbar {
    width: 100%;
    height: 48px;
    box-shadow: 
        0 1px 0 rgba(2, 2, 2, 0.2),
        0 1.5px 0 rgba(6, 6, 7, 0.05), 
        0 2px 0 rgba(2, 2, 2, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    user-select: none;
    position: relative;
    z-index: 100;
}

.main-topbar-profile-info {
    display: flex;
    align-items: center;
}

.main-topbar-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main-topbar-icon {
    position: relative;
    flex: 0 0 auto;
    margin: 0 8px;
    color: oklab(0.787067 -0.00258079 -0.0110391) ;
    min-height: 20px;
    min-width: 20px;
}

.topbar-field {
    color: oklab(0.787067 -0.00258079 -0.0110391);
    font-size: 14.5px;
    font-weight: 500;
    margin: 0px 8px;
    padding: 2px 8px;
    cursor: pointer;
    border-radius: 4px;
}

.topbar-field:hover {
    background-color: oklab(0.432341 0.00109924 -0.0133243 / 0.3);
    color: oklab(0.89908 -0.00192907 -0.0048306);
}

.friends-title {
    font-size: 15px;
    font-weight: 600;
    color: oklab(0.89908 -0.00192907 -0.0048306);
    margin-right: 8px;
    line-height: 20px;
}

.add-friend {
    background-color: rgb(36, 128, 69);
    color: #fff;
}

.add-friend:hover{
    background-color: rgb(36, 128, 69);
    color: #fff;
}

.friends-divider {
    background-color: oklab(0.432341 0.00109924 -0.0133243 / 0.48);
    width: 1px;
    height: 24px;
    margin: 0 8px;
}

.friends-icon {
    width: 24px;
    height: 24px;
    color: oklab(0.613226 -0.000409693 -0.0157583);
    margin: 0px 8px;
}

.content-wrapper {
    width: 100%;
    height: calc(100% - 48px);
    display: flex;
    flex-direction: row;
    position: relative;
}

.main-content {
    flex: 1 1 auto;
}

.online-info-title-text {
    font-size: 12px;
    color: oklab(0.787067 -0.00258079 -0.0110391);
    font-weight: 600;
    margin: 16px 20px 16px 30px;
    user-select: none;
}

.right-sidebarWrapper {
    flex: 0 1 30%;
    min-width: 360px;
    max-width: 420px;
    border-left: 1px solid oklab(0.432341 0.00109924 -0.0133243 / 0.48);
    margin-left: 2px;
    padding: 16px;
}

.right-sidebar-title {
    color: oklab(0.89908 -0.00192907 -0.0048306);
    font-size: 18px;
    line-height: 24px;
    margin: 8px 0 16px;
    font-weight: 800;
}

.right-sidebar-caption-wrapper {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.right-sidebar-upper-caption {
    color: oklab(0.89908 -0.00192907 -0.0048306);
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
    font-weight: 600;
    text-align: center;
}

.right-sidebar-lower-caption {
    color: oklab(0.787067 -0.00258079 -0.0110391);
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
}

